.printview {
  width: 100%;
  height: 100%;

  &__label {
    margin-bottom: 1rem;
  }

  &__label .label__content {
    background-color: #ffffff;
  }

  &__label .label {
    margin-bottom: 1rem;
  }
}
