.label {
  height: 7.2rem;
  width: 15rem;
  display: flex;
  flex-direction: row;
  // margin-bottom: 1rem;
  //   background-color: rgb(71, 79, 87);
  //   margin-bottom: 1rem;

  &__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #206ec7;
    color: #000000;
    border-radius: 10px;
    // margin-top: 0.2rem;
    padding: 0.2rem;
  }

  &__article {
    display: flex;
    height: 80%;

    flex-direction: row;
  }

  &__qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 30%;
    // width: 100%;
    // height: 10%;
    // margin-left: 0.5rem;
  }

  &__qrcode-image {
    width: 4.5rem;
  }

  &__articlenumber {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 5px;
    width: 100%;
    overflow: auto;
  }

  &__articlenumber-text {
    width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0;
    padding: 0;
    // font-size: 1.7rem;
    // font-weight: bold;
    // width: 100%;
    // font-size: 1.7rem;
  }

  &__articletext {
    text-align: center;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-wrap: nowrap;
    padding: 5px;
  }
}
