.labellist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  gap: 1rem;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    // margin-bottom: 1rem;
  }
  &__item > button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #216bda;
    color: #000000;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ff0000;
      color: #ffffff;
    }
  }
}
